<div class="container m-2">
    <div>
        <h1 class="display-5">T-Hub Project</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elite. Voluptatem atque mollitia libero aliquam, aut, alias culpa vero repellat, vitae soluta eaque explicabo quibusdam enim maxime ea sed quisquam molestias eligendi?</p>
        <hr class="my-4">
    </div>
</div>
<div class="container m-2 row">
    
    <div class="card m-2 shadow-sm fade-in-fwd" style="max-width: 18rem; padding: 0%;">
        <div class="card-img-top card-bg-1" style="height: 12rem;"></div>
        <div class="card-body">
            <h5 class="card-title fs-3 fw-normal">Card title</h5>
            <div class="hr"></div>
            <p class="lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-dark fw-light">Go somewhere</a>
          </div>
    </div>

    <div class="card m-2 shadow-sm fade-in-fwd" style="max-width: 18rem; padding: 0%;">
        <div class="card-img-top card-bg-1" style="height: 12rem;"></div>
        <div class="card-body">
            <h5 class="card-title fs-3 fw-normal">Card title</h5>
            <div class="hr"></div>
            <p class="lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-dark fw-light">Go somewhere</a>
          </div>
    </div>

    <div class="card m-2 shadow-sm fade-in-fwd" style="max-width: 18rem; padding: 0%;">
        <div class="card-img-top card-bg-1" style="height: 12rem;"></div>
        <div class="card-body">
            <h5 class="card-title fs-3 fw-normal">Card title</h5>
            <div class="hr"></div>
            <p class="lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-dark fw-light">Go somewhere</a>
          </div>
    </div>

    <div class="card m-2 shadow-sm fade-in-fwd" style="max-width: 18rem; padding: 0%;">
        <div class="card-img-top card-bg-1" style="height: 12rem;"></div>
        <div class="card-body">
            <h5 class="card-title fs-3 fw-normal">Card title</h5>
            <div class="hr"></div>
            <p class="lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-dark fw-light">Go somewhere</a>
          </div>
    </div>

    <div class="card m-2 shadow-sm fade-in-fwd" style="max-width: 18rem; padding: 0%;">
        <div class="card-img-top card-bg-1" style="height: 12rem;"></div>
        <div class="card-body">
            <h5 class="card-title fs-3 fw-normal">Card title</h5>
            <div class="hr"></div>
            <p class="lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-dark fw-light">Go somewhere</a>
          </div>
    </div>

    <div class="card m-2 shadow-sm fade-in-fwd" style="max-width: 18rem; padding: 0%;">
        <div class="card-img-top card-bg-1" style="height: 12rem;"></div>
        <div class="card-body">
            <h5 class="card-title fs-3 fw-normal">Card title</h5>
            <div class="hr"></div>
            <p class="lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-dark fw-light">Go somewhere</a>
          </div>
    </div>
</div>